@import "./fonts/stylesheet.css";

/* #f5f0e6 фон */
/* #904d30 заголовки кнопки иконки*/
/* #50c878 линии рамки полоски загрузки второстепенные детали*/
/* #3a3a3a текст */

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

.body{
  display: grid;
  grid-template-columns: 100dvw;
  grid-template-rows: 10vh 80vh 10vh;
  justify-content: center;
  margin: 0;
}

.header{
  font-family: "Advent", "Gill Sans", sans-serif;
  background-color: #f5f0e6;
  color: #904d30;
  border-radius: 5px;
  padding-inline: 10px;

  display: flex;
  align-items: center;
}

.page-title{
  padding: 0;
}

.footer{
  font-family: "Advent", "Gill Sans", sans-serif;
  background-color: #f5f0e6;
  color: #904d30;
  border-radius: 5px;
  padding-inline: 10px;

  display: flex;
  align-items: center;
}

.footer__text{
  font-family: "Advent", "Gill Sans", sans-serif;
}
