@font-face {
    font-family: 'Advent Bold';
    src: url('./AdventPro-Bold.woff2') format('woff2'),
        url('./AdventPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Advent Regular';
    src: url('./AdventPro-Medium.woff2') format('woff2'),
        url('./AdventPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Advent Normal';
    src: url('./AdventPro-Regular.woff2') format('woff2'),
        url('./AdventPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
